@media print {

    #copyfight_content, #copyfight_content * {
        visibility: hidden;
        height: 0;
    }

    #copyright_print_notice {
        height: 1em;
        visibility: visible;
    }

    #copyfight_entry_links {
        visibility: hidden;
    }

}